.rating {
  display: flex;
  align-items: center;
}

.review {
  margin-left: 0.25rem !important;
  font-size: 14px;
}

@media only screen and (max-width: 600px) {
  .review {
    font-size: 12px !important;
  }
}
