.root {
  /* margin-top: -20px;
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh - 64pc;
  z-index: 0; */
  height: 80vh;
}

.LoginPage-root-19 {
  height: 80vh;
}

.makeStyles-main-2 {
  margin-top: 20px;
}
